
                    @mixin sprite-1 {
                        width: 21px;
                        height: 21px;
                        background-image: url(i/__sprite.png);
                        background-position: -0px -0px;
                    }
                    @mixin sprite-2 {
                        width: 21px;
                        height: 21px;
                        background-image: url(i/__sprite.png);
                        background-position: -21px -0px;
                    }
                    @mixin sprite-3 {
                        width: 21px;
                        height: 21px;
                        background-image: url(i/__sprite.png);
                        background-position: -0px -21px;
                    }