@import '../main/mixin/border.scss';

.mod {
    // ref other component`s images
    margin-bottom: 10px;
    padding: 10px 20px;
    @include border-radius(1px solid red);

    li {
        display:inline;
    }
}

