<div id="" class="mod ">
	<div class="mt">
		<h2></h2>
	</div>
	<div class="mc">
        <p> => module content</p>

        <h3>img lists:</h3>
        <ul id="img-list" class="plist">
    <li class="fore0">
        <a href="http://jd.com/" target="_blank">
            <img data-img="1" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=Wow&w=100&h=61" width="100" height="61" alt=""/>
        </a>
    </li>
    <li class="fore1">
        <a href="http://jd.com/" target="_blank">
            <img data-img="1" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=Wow&w=100&h=61" width="100" height="61" alt=""/>
        </a>
    </li>
    <li class="fore2">
        <a href="http://jd.com/" target="_blank">
            <img data-img="1" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=Wow&w=100&h=61" width="100" height="61" alt=""/>
        </a>
    </li>
</ul>
	</div>
</div>
